Create an appointment table for appointments with salesmen about products
Put form data into appointment table
Give product button its functionality
Create a page that has a carbon footprint calculator
Put passwords in a hashset
Create login system

