
Put passwords in a hashset
Create login and register system
Add dark mode button
Add functionality to dark mode button
Add styling, img and text changed to dark mode button
Create a change log and some other documentation (get change log info from commits)
Create the versions from branches

