@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shanti&display=swap');

/* Colour Variables */
:root {
    --backgroud-color: #FFFBF8;
    --font-color: #242424;
    --button-color: #5A82C3;
    --shadow-color: #24242459;
}

/* Constant stylings */
h1 {
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-family: "Shanti", serif;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--backgroud-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
/* Button styling */
button {
    position: relative;
    font-family: "Montserrat", sans-serif;
    background: none;
    border: 2px solid var(--button-color);
    color: var(--font-color);
    font-weight: 600;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    transition: all .4s ease;
}

button::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--button-color);
    z-index: -1;
    transition: all .4s ease;
}

button:hover::before{
    width: 100%;
}

button:hover{
    color: var(--backgroud-color);
}

.titleCard {
    text-align: center;
    max-width: 70%;
    margin: 300px 0px 0px 0px;
}

.titleCard h1 {
    font-size: 28px;
    font-weight: 600;
}

.titleCard h2 {
    font-size: 28px;
    font-weight: 500;
}

#productTitle {
    margin: 430px 0px 0px 0px;
    width: 72%;
    text-align: left;
}

.products {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.productCard {
    width: 400px;
    height: 470px;
    border: 1px solid var(--shadow-color);
    box-shadow: 0px 2px 8px 2px var(--shadow-color);
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.productCard img {
    width: 400px;
    height: 250px;
}

.productCard h3 {
    padding: 0px 0px 0px 10px;
}

.productCard p {
    height: 80px;
    padding: 10px;
}

.productCard strong {
    padding: 10px;
}

.consultationCard {
    margin-top: 80px;
}


footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--font-color);
    height: 200px;
}

footer h1 {
    color: var(--backgroud-color);
    margin-left: 100px;
}

footer img {
    height: 200px;
    margin-right: 100px;
}

